#tic-tac-toe-board {
  display: block;
  margin: 0 auto;
}

.canvas-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.canvas-wrapper-parent {
  transform-style: preserver-3d;
}

#random-move-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#winner-text {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin: 20px 0;
}

#restart-btn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
